.btn-main {
  width: 366px;
  height: 56px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: $red;
  border-radius: 14px;
  box-shadow: 0px 4px $red_dark;
  color: $white;
  @include font(20px, bold, normal);
  transition: all $time_change_color;
  @include screen-1024 {
    width: 328px;
    @include font(18px, bold, 150%);
  }
  &:hover {
    margin-top: -4px;
    margin-bottom: 4px;
    box-shadow: 0px 8px $red_dark;
  }
  &:active {
    margin-top: 0;
    margin-bottom: 0;
    background-color: $red_dark;
    box-shadow: 0px 4px $red_dark;
  }
  &:disabled {
    margin-top: 0;
    margin-bottom: 0;
    background-color: $red;
    box-shadow: 0px 4px $red_dark;
    opacity: 0.5;
  }
}

.btn-secondary {
  height: 40px;
  padding: 0 18px;
  background-color: $purple09;
  border-radius: 11px;
  color: $white;
  @include font(18px, 500, 150%);
  @include screen-1280 {
    height: 36px;
    padding: 6px 14px;
    font-size: 16px;
  }
  @include screen-1024 {
    height: 30px;
    padding: 6px 12px;
    border-radius: 8px;
    @include font(12px, 700, 120%);
  }
  &:hover {
    background-color: $purple04;
  }
  &:active {
    background-color: $purple06;
  }
  &:disabled {
    background-color: $purple09;
    opacity: 0.5;
  }
}

.btn-text {
  padding: 2px 0px;
  border-bottom: 1px solid transparent;
  color: $purple06;
  @include font(18px, 500, 150%);
  transition: all $time_change_color;
  // @include screen-1024 {}
  &:hover {
    border-bottom: 1px solid $purple06;
  }
  &:disabled {
    border-bottom: 1px solid transparent;
    opacity: 0.5;
  }
  &:has(.sprite) {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4px;
    @include screen-1024 {
      font-size: 14px;
      .sprite {
        width: 16px;
        height: 16px;
      }
    }
  }
}

.lang__btn_small {
  width: 40px;
  height: 40px;
  border: 1.5px solid $purple09;
  border-radius: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all $time_change_color;
  @include screen-1280 {
    width: 36px;
    height: 36px;
  }
  .sprite {
    width: 20px;
    height: 20px;
    fill: $purple09;
    @include screen-1280 {
      width: 18px;
      height: 18px;
    }
  }
  &:hover {
    background-color: $purple09;
    .sprite {
      fill: $white;
    }
  }
  &:active {
    background-color: $purple06;
    .sprite {
      fill: $white;
    }
  }
  &:disabled {
    opacity: .5;
    &:hover {
      background-color: transparent;
      .sprite {
        fill: $purple09;
      }
    }
  }
}

.lang__btn_large {
  width: 145px;
  height: 40px;
  border: 1.5px solid transparent;
  border-radius: 11px;
  color: $purple06;
  @include font(16px, 500, 150%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all $time_change_color;
  span {
    margin: 0 12px 0 4px;
  }
  .sprite:first-of-type {
    width: 16px;
    height: 16px;
  }
  &:hover {
    border-color: $purple09;
  }
  &:active {
    border-color: $purple06;
  }
  &:disabled {
    opacity: .5;
    &:hover {
      border-color: transparent;
    }
  }
}
