* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style: none;
}

input,
textarea,
select,
button {
  font: inherit;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

textarea {
  resize: none;
}

.header {
  width: 100%;
  background-color: #F9FAFD;
  box-shadow: 0px 4px 8px 0px rgba(74, 82, 111, 0.06), 0px 0px 4px 0px rgba(74, 82, 111, 0.04);
  position: fixed;
  z-index: 2;
}
.header .content {
  height: 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
@media screen and (max-width: 1280px) {
  .header .content {
    -moz-column-gap: 1vw;
         column-gap: 1vw;
  }
}
@media screen and (max-width: 1024px) {
  .header .content {
    height: 56px;
    padding: 0 15px;
  }
}
@media screen and (max-width: 480px) {
  .header .content {
    min-height: 56px;
  }
}
.header__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
@media screen and (max-width: 1280px) {
  .header__right {
    -moz-column-gap: 1vw;
         column-gap: 1vw;
  }
}

.header .logo__img {
  width: 111px;
}
@media screen and (max-width: 1110px) {
  .header .logo__img {
    width: 100px;
  }
}
@media screen and (max-width: 1024px) {
  .header .logo__img {
    width: 76px;
    height: 32px;
  }
}
.header .logo__text {
  width: 115px;
  color: #953031;
  font-size: 8px;
  font-weight: 500;
  line-height: 150%;
  text-transform: uppercase;
}
@media screen and (max-width: 1110px) {
  .header .logo__text {
    font-size: 7px;
  }
}
@media screen and (max-width: 1024px) {
  .header .logo__text {
    display: none;
  }
}

.nav {
  display: flex;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
@media screen and (max-width: 1280px) {
  .nav {
    -moz-column-gap: 1vw;
         column-gap: 1vw;
  }
}
@media screen and (max-width: 1024px) {
  .nav {
    display: none;
  }
}
.nav > .menu-item > a {
  padding: 21px 0;
  border-bottom: 2px solid transparent;
  font-size: 12px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  transition: all 0.25s;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1280px) {
  .nav > .menu-item > a {
    font-size: 11px;
  }
}
@media screen and (max-width: 1110px) {
  .nav > .menu-item > a {
    font-size: 10px;
  }
}
.nav .menu-item:hover > a,
.nav .menu-item:has(.sub-menu:hover) > a,
.nav .current_page_item > a,
.nav .menu-item:has(.current_page_item) > a {
  color: #E95E61;
  border-color: #E95E61;
}
.nav > .menu-item-has-children > a {
  -moz-column-gap: 4px;
       column-gap: 4px;
  padding-right: 2px;
}
.nav > .menu-item-has-children > a::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 2px;
  border-right: 2px solid #1F253B;
  border-bottom: 2px solid #1F253B;
  transform: rotate(45deg);
  transition: inherit;
  position: relative;
  top: -2px;
  right: -2px;
}
@media screen and (max-width: 1280px) {
  .nav > .menu-item-has-children > a::after {
    width: 5px;
    height: 5px;
    top: -3px;
  }
}
@media screen and (max-width: 1110px) {
  .nav > .menu-item-has-children > a::after {
    width: 4px;
    height: 4px;
    top: -2px;
  }
}
.nav .current_page_item > a::after,
.nav .menu-item:has(.current_page_item) > a::after {
  border-color: #E95E61;
}
.nav > .menu-item-has-children > a:hover::after,
.nav .menu-item-has-children:has(.sub-menu:hover) > a::after {
  border-color: #E95E61;
  transform: rotate(-135deg);
  top: 2px;
}
@media screen and (max-width: 1280px) {
  .nav > .menu-item-has-children > a:hover::after,
  .nav .menu-item-has-children:has(.sub-menu:hover) > a::after {
    top: 0px;
  }
}

.menu-item {
  position: relative;
}
.menu-item .sub-menu {
  width: 222px;
  padding: 12px;
  margin-top: 30px;
  background-color: #F9FAFD;
  box-shadow: 0px 4px 8px 0px rgba(74, 82, 111, 0.06), 0px 0px 4px 0px rgba(74, 82, 111, 0.04);
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 10px;
  position: absolute;
  left: -13px;
  opacity: 0;
  visibility: hidden;
}
.menu-item .sub-menu > .menu-item > a {
  padding: 0;
  border-bottom: 1px solid transparent;
  color: #1F253B;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  text-transform: none;
}
.menu-item .sub-menu > .menu-item > a:hover,
.menu-item .sub-menu .current_page_item > a {
  border-bottom: 1px solid #6B769D;
  color: #6B769D;
}

.menu-item:hover > .sub-menu {
  margin-top: 0px;
  opacity: 1;
  visibility: visible;
  transition: all 0.5s;
}

.lang {
  position: relative;
  cursor: pointer;
}
.lang__menu1 {
  width: 100px;
  padding: 12px;
  background-color: #F9FAFD;
  border-radius: 4px;
  box-shadow: 0px 4px 8px 0px rgba(74, 82, 111, 0.06), 0px 0px 4px 0px rgba(74, 82, 111, 0.04);
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  position: absolute;
  left: -12px;
  transition: all 0.5s;
  z-index: 1;
}
.lang__item1 {
  border-bottom: 1px solid transparent;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}
.lang__item1:hover {
  color: #6B769D;
  border-bottom-color: #6B769D;
}
.lang__active1 {
  color: #6B769D;
}
@media screen and (max-width: 1024px) {
  .lang:has(.lang__menu1) {
    display: none;
  }
}
.lang:has(.lang__menu1) .menu_hide {
  margin-top: 40px;
}
.lang:has(.lang__menu1) .menu_show {
  margin-top: 10px;
}

@media screen and (max-width: 480px) {
  .header .btn-secondary {
    display: none;
  }
}

.mobile-menu {
  display: none;
}

.footer {
  background-color: #F9FAFD;
  border-top: 1px solid #D4DBF5;
}
.footer .content {
  padding-top: 48px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 64px;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.footer .logo__img {
  width: 280px;
}
.footer .logo__text {
  font-size: 19px;
  font-weight: 500;
  line-height: 150%;
  text-transform: uppercase;
}
.footer__center {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.footer__contact {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.footer__title {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.footer__text {
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
}
.footer__form {
  width: 387px;
  padding: 32px;
  background-image: linear-gradient(180deg, rgba(234, 238, 250, 0) 0%, #EAEEFA 100%);
  border: 1px solid #CCD4E3;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
}
.footer__form .footer__title {
  margin-bottom: 24px;
}
.footer__form .block {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}
.footer__form .btn-secondary {
  position: relative;
  top: -5px;
}
.footer__bottom {
  padding: 16px 0;
  border-top: 1px solid #7D8BBD;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 16px 20px;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .footer__bottom {
    grid-template-columns: repeat(2, auto);
  }
}
.footer__bottom > :nth-child(2) {
  justify-self: center;
}
@media screen and (max-width: 1024px) {
  .footer__bottom > :nth-child(2) {
    justify-self: start;
  }
}
.footer__bottom > :nth-child(3) {
  justify-self: end;
}
@media screen and (max-width: 1024px) {
  .footer__bottom > :nth-child(3) {
    grid-column: 1/-1;
    justify-self: center;
  }
}
.footer__signature {
  color: #6B769D;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
}
@media screen and (max-width: 1024px) {
  .footer__signature {
    font-size: 14px;
  }
}

.lang__menu2 {
  width: 138px;
  padding: 8px 0;
  background-color: #EAEEFA;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 42px;
  transition: all 0.5s;
  z-index: 1;
}
.lang__item2 {
  padding: 0 32px;
  color: #6B769D;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}
.lang__item2:hover {
  background-color: #F9FAFD;
}
.lang__active2 {
  background-color: #F9FAFD;
}
.lang:has(.menu_show) .lang__btn_large .sprite:last-of-type {
  transform: rotate(180deg);
}

.test-btn {
  width: 400px;
  margin: 0 auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.test__link {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-error {
  color: #F80000;
}

.btn-main {
  width: 366px;
  height: 56px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #E95E61;
  border-radius: 14px;
  box-shadow: 0px 4px #CE5853;
  color: #FBFBFB;
  font-size: 20px;
  font-weight: bold;
  line-height: normal;
  transition: all 0.25s;
}
@media screen and (max-width: 1024px) {
  .btn-main {
    width: 328px;
    font-size: 18px;
    font-weight: bold;
    line-height: 150%;
  }
}
.btn-main:hover {
  margin-top: -4px;
  margin-bottom: 4px;
  box-shadow: 0px 8px #CE5853;
}
.btn-main:active {
  margin-top: 0;
  margin-bottom: 0;
  background-color: #CE5853;
  box-shadow: 0px 4px #CE5853;
}
.btn-main:disabled {
  margin-top: 0;
  margin-bottom: 0;
  background-color: #E95E61;
  box-shadow: 0px 4px #CE5853;
  opacity: 0.5;
}

.btn-secondary {
  height: 40px;
  padding: 0 18px;
  background-color: #7D8BBD;
  border-radius: 11px;
  color: #FBFBFB;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
}
@media screen and (max-width: 1280px) {
  .btn-secondary {
    height: 36px;
    padding: 6px 14px;
    font-size: 16px;
  }
}
@media screen and (max-width: 1024px) {
  .btn-secondary {
    height: 30px;
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 700;
    line-height: 120%;
  }
}
.btn-secondary:hover {
  background-color: #A2AFDF;
}
.btn-secondary:active {
  background-color: #6B769D;
}
.btn-secondary:disabled {
  background-color: #7D8BBD;
  opacity: 0.5;
}

.btn-text {
  padding: 2px 0px;
  border-bottom: 1px solid transparent;
  color: #6B769D;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  transition: all 0.25s;
}
.btn-text:hover {
  border-bottom: 1px solid #6B769D;
}
.btn-text:disabled {
  border-bottom: 1px solid transparent;
  opacity: 0.5;
}
.btn-text:has(.sprite) {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 4px;
       column-gap: 4px;
}
@media screen and (max-width: 1024px) {
  .btn-text:has(.sprite) {
    font-size: 14px;
  }
  .btn-text:has(.sprite) .sprite {
    width: 16px;
    height: 16px;
  }
}

.lang__btn_small {
  width: 40px;
  height: 40px;
  border: 1.5px solid #7D8BBD;
  border-radius: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s;
}
@media screen and (max-width: 1280px) {
  .lang__btn_small {
    width: 36px;
    height: 36px;
  }
}
.lang__btn_small .sprite {
  width: 20px;
  height: 20px;
  fill: #7D8BBD;
}
@media screen and (max-width: 1280px) {
  .lang__btn_small .sprite {
    width: 18px;
    height: 18px;
  }
}
.lang__btn_small:hover {
  background-color: #7D8BBD;
}
.lang__btn_small:hover .sprite {
  fill: #FBFBFB;
}
.lang__btn_small:active {
  background-color: #6B769D;
}
.lang__btn_small:active .sprite {
  fill: #FBFBFB;
}
.lang__btn_small:disabled {
  opacity: 0.5;
}
.lang__btn_small:disabled:hover {
  background-color: transparent;
}
.lang__btn_small:disabled:hover .sprite {
  fill: #7D8BBD;
}

.lang__btn_large {
  width: 145px;
  height: 40px;
  border: 1.5px solid transparent;
  border-radius: 11px;
  color: #6B769D;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s;
}
.lang__btn_large span {
  margin: 0 12px 0 4px;
}
.lang__btn_large .sprite:first-of-type {
  width: 16px;
  height: 16px;
  fill: #6B769D;
}
.lang__btn_large .sprite:last-of-type {
  stroke: #6B769D;
}
.lang__btn_large:hover {
  border-color: #7D8BBD;
}
.lang__btn_large:active {
  border-color: #6B769D;
}
.lang__btn_large:disabled {
  opacity: 0.5;
}
.lang__btn_large:disabled:hover {
  border-color: transparent;
}

.input {
  width: 100%;
  padding: 12px 16px;
  background-color: #FBFBFB;
  border: 1px solid #AAB0BD;
  border-radius: 11px;
  color: #4A526F;
  caret-color: #A2AFDF;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}
.input:focus {
  border-color: #A2AFDF;
  outline: none;
}
.input_success {
  border-color: #4A526F;
}
.input_error {
  border-color: #F80000;
}

::-moz-placeholder {
  color: #AAB0BD;
}

::placeholder {
  color: #AAB0BD;
}

.label {
  width: 100%;
  font-size: 14px;
  font-weight: normal;
  line-height: 150%;
}
.label:has(:disabled) {
  opacity: 0.5;
}
.label .error {
  min-height: 23px;
}
.label .text-error {
  display: none;
}
.label:has(.input_error) .text-error {
  display: inline;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #F9FAFD;
  color: #1F253B;
}

.main {
  min-height: calc(100vh - 706px);
  padding-top: 88px;
}
@media screen and (max-width: 1024px) {
  .main {
    padding-top: 56px;
  }
}

.content {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px;
}
@media screen and (max-width: 1440px) {
  .content {
    padding: 0 6vw;
  }
}
@media screen and (max-width: 1340px) {
  .content {
    padding: 0 3vw;
  }
}

h1 {
  margin-top: 20px;
  text-align: center;
}

.menu_hide {
  opacity: 0;
  visibility: hidden;
}
.menu_open {
  opacity: 1;
  visibility: visible;
}

.sprite {
  width: 18px;
  height: 18px;
  transition: inherit;
}