// ---------- scrollbar -----------

html:not(.touch-screen)::-webkit-scrollbar,
html:not(.touch-screen) *::-webkit-scrollbar {
  width: 9px;
  height: 8px;
}

html:not(.touch-screen)::-webkit-scrollbar-track,
html:not(.touch-screen) *::-webkit-scrollbar-track {
  background: $purple02;
}

html:not(.touch-screen)::-webkit-scrollbar-thumb,
html:not(.touch-screen) *::-webkit-scrollbar-thumb {
  background: $purple09;
  border: 1px solid $purple02;
  border-radius: 20px; 
}

// body {
//   scrollbar-width: thin;
//   scrollbar-color: $purple09 $purple02;
// }

// ---------- body -----------

body {
  min-height: 100vh;
  background-color: $white;
  font-family: 'Montserrat', sans-serif;
  color: $black;
  @include font(20px, 500, 150%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

// .container {
//   width: 100vw;
//   max-width: 1440px;
//   margin: 0 auto;
// }

.main {
  margin-bottom: auto;
  padding-top: 88px;
  @include screen-1024 {
    padding-top: 56px;
  }
}

.content {
  width: 100%;
  // max-width: 1440px;
  margin: 0 auto;
  // padding: 0 100px;
  padding: 0 7vw;
  // @include screen-1440 {
  //   padding: 0 7vw;
  // }
  @include screen-1340 {
    padding: 0 3vw;
  }
}

.menu {
  &_hide {
    opacity: 0;
    visibility: hidden;
  }
  &_open {
    opacity: 1;
    visibility: visible;
  }
}

.left-blue-border {
  border: 1px solid $purple05;
  border-left: 12px solid $purple05;
  border-radius: 12px;
}

// ---------- svg -----------
.sprite {
  width: 18px;
  height: 18px;
  transition: inherit;
  // @include screen-1024 {
  //   width: 16px;
  //   height: 16px;
  // }
}

.icon-circle {
  width: 78px;
  height: 78px;
}
