// ---------- test page -----------
.main__test {
  padding: 40px;
  background: 
    url('../images/bg_home_main.svg') 
    center 0% 
    no-repeat;
  @include screen-768 {
    padding: 20px;
  }
  @include screen-480 {
    padding: 10px;
  }
}

// .test-btn {
//   width: 600px;
//   margin: 0 auto;
//   padding: 40px;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   gap: 20px;
// }
