footer.footer 
  p Footer
  .lang
    button.lang__btn_large(id="lang-footer")
      svg.sprite
        use(href="./images/sprite.svg#earth")
      span Русский
      svg.sprite
        use(href="./images/sprite.svg#down")
    ul.lang__menu2.menu_hide(id="lang-footer-menu")
      li.lang__item2 עברית
      li.lang__item2.lang__active2 Русский
