footer.footer 
  .content
    .footer__top
      .logo
        a.logo__link(href="index.html")
          img.logo__img(src="./images/logo.png" alt="Logo")
        p.logo__text Центр создания семьи
      .footer__center
        .footer__contact
          h2.footer__title Контакты
          p.footer__text ул. Герцель 16, офис 212 , Хайфа
          p.footer__text 054 760 79 40
          p.footer__text elmi4u@gmail.com
        .footer__contact
          h2.footer__title Присоединяйтесь
          a.footer__text(href="#") Facebook
          a.footer__text(href="#") YouTube
      form.footer__form(name="footer")
        h2.footer__title Задать вопрос
        .block
          label.label
            input.input(name="name" required placeholder='Имя*')
            //- .error
            //-   span.text-error Error
          label.label
            input.input(name="email" required placeholder='Email*')
            //- .error
            //-   span.text-error Error
          label.label
            input.input(name="phone" placeholder='Телефон')
            //- .error
            //-   span.text-error Error
          label.label
            textarea.input(name="question" required placeholder='Ваш вопрос...')
            //- .error
            //-   span.text-error Error
        input.btn-secondary(type="submit" value="Отправить") 
    .footer__bottom
      p.footer__signature elmi4u.com 2012-2023 © Все права защищены
      a.footer__signature(href="#") Политика конфиденциальности
      .lang
        button.lang__btn_large(id="lang-footer")
          svg.sprite
            use(href="./images/sprite.svg#earth")
          span Русский
          svg.sprite
            use(href="./images/sprite.svg#down")
        ul.lang__menu2.menu_hide(id="lang-footer-menu")
          li.lang__item2 עברית
          li.lang__item2.lang__active2 Русский
