header.header
  //- a(href='test.html') Test
  .header__content
    a.logo(href="/")
      img.logo__img(src="./images/logo.png" alt="Logo")
      p.logo__text Центр создания семьи

    nav.nav
      a.nav__link.nav__active(href='/') Главная
      a.nav__link(href='#') О нас
      .submenu
        span.nav__link Знакомства для брака
          svg.sprite
            use(href="./images/sprite.svg#down")
        ul.submenu__list1
          li
            a.submenu__link Знакомства для серьезных отношений
          li
            a.submenu__link.submenu__active Знакомства 20-30
          li
            a.submenu__link Знакомства за 30
          li
            a.submenu__link Знакомства за 40
          li
            a.submenu__link Знакомства за 50
          li
            a.submenu__link Знакомства за 60+
          li
            a.submenu__link Брачное агентство в Израиле

      .submenu
        span.nav__link Знакомства в Израиле
          svg.sprite
            use(href="./images/sprite.svg#down")
        ul.submenu__list2
          .submenu__content
            li
              a.submenu__link 
                svg.sprite 
                  use(href="./images/sprite.svg#map")
                span Знакомства в Израиле на русском языке
            li
              a.submenu__link 
                svg.sprite 
                  use(href="./images/sprite.svg#map-pin")
                span Знакомства в Хайфе
            li
              a.submenu__link 
                svg.sprite 
                  use(href="./images/sprite.svg#map-pin")
                span Знакомства в Тель-Авиве
            li
              a.submenu__link 
                svg.sprite 
                  use(href="./images/sprite.svg#map-pin")
                span Знакомства в Нетании
            li
              a.submenu__link 
                svg.sprite 
                  use(href="./images/sprite.svg#map-pin")
                span Знакомства в Ашдоде

      //- .submenu
      //-   span.nav__link Знакомства в Израиле
      //-     svg.sprite
      //-       use(href="./images/sprite.svg#down")
      //-   ul.submenu__list1
      //-     li
      //-       a.submenu__link Знакомства в Израиле на русском языке
      //-     li
      //-       a.submenu__link Знакомства в Хайфе
      //-     li
      //-       a.submenu__link Знакомства в Тель-Авиве
      //-     li
      //-       a.submenu__link Знакомства в Нетании
      //-     li
      //-       a.submenu__link Знакомства в Ашдоде
      a.nav__link(href='#') Блог
      a.nav__link(href='#') Отзывы
      a.nav__link(href='#') Контакты

    .lang
      button.lang__btn_small(id="lang-header")
        svg.sprite
          use(href="./images/sprite.svg#earth")
      ul.lang__menu1.menu_hide(id="lang-header-menu")
        li.lang__item1.lang__active1 Русский
        li.lang__item1 עברית 

    button.btn-secondary(id="application") Оставить заявку

    button.mobile-menu
      svg.sprite 
        use(href="./images/sprite.svg#menu")
