extends components/layout

block content
  main.main.home-main 
    section.home-banner
      .content
        .banner__block
          .title
            h1 Елена Минакова
            p Эксклюзивное сопровождение для мужчин и женщин в поиске своего партнера в Израиле 
            button.btn-main ХОЧУ
          .photo
            img(src="./images/photo_elena1.webp")
            .circle
              p.circle__name Elmi
              p.circle__descr Для серьезных отношений и создания семьи
        .svaha Профессиональная сваха
    
    .home-sections
      .content
        section.home-about.home-widht1
          h2
            span.text-red Знакомства в Израиле 
            span - Центр создания семьи Elmi
          p Выбирай из лучших!
          p Благодаря связям и опыту свахи, у тебя есть доступ к выдающимся кандидатам. Для того чтобы твоя история любви началась с правильного человека.
          p.strong Знакомься с надежными партнерами, готовыми к серьезным отношениям:
          ul 
            li Без траты времени на бесконечные поиски на сайтах знакомств, приложениях и соцсетях
            li Без потребности разгадывать человека на предмет его серьезности
            li С уверенностью, что сваха сопровождает и дает индивидуальные советы на всех этапах знакомства

        section.home-video.home-widht1
          h2 Узнайте из видео
          p.strong Какие самые частые ошибки, люди делают во время знакомств и как произвести впечатления и правильно подготовится к первому свиданию
          .video
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/d2B3Xmc97vI?si=T0wIT3jU6fLYfoj0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

        section.home-whom.home-widht2
          .home-widht1
            h2
              span.text-red Кому 
              span подойдет сваха?
            p.strong За 20 лет работы я поняла, что не могу помочь всем. Как Вы выбираете меня, так и я оставляю своими клиентами, тех кому могу помочь и это происходит после первой консультации.
          ul 
            li 
              svg.icon-circle 
                use(href="./images/sprite.svg#person_heart_bg_blue")
              p Одинокие люди, которые разочаровались от встреч через сайты знакомств и приложений
            li 
              svg.icon-circle 
                use(href="./images/sprite.svg#person_star_bg_blue")
              p Люди у которых нет времени на “пустые” встречи
            li 
              svg.icon-circle 
                use(href="./images/sprite.svg#persons_bg_blue")
              p Профессионалы которые, привыкли доверять профессионалам

        section.home-how.home-widht2
          h2
            span.text-red Как происходит 
            span весь процесс нашего сотрудничества?
          .how__wrapper
            .how__steps
              span.round 01
              span.round 02
              span.round 03
              span.line
            .how__block
              h3
                svg 
                  use(href="./images/sprite.svg#document_bg_red")
                span Заявка
              p Когда я получаю вашу заявку на мои услуги, я или мой менеджер связываемся с вами по контактным данным, которые вы оставили. Затем мы обсуждаем детали и отвечаем на все оставшиеся вопросы. 
              p После этого мы договариваемся о личной встрече-консультации. Вы заполняете предварительную анкету и приходите на консультацию в назначенное время
            .how__block
              h3 
                svg 
                  use(href="./images/sprite.svg#dialog_bg_red")
                span Консультация
              p На консультации мы знакомимся. Я узнаю подробнее, кого вы хотите встретить и какие у вас предпочтения. Если мы готовы продолжать сотрудничество, я вношу вас в свою базу данных. 
              p Я также рассказываю вам о перспективах участия в клубе знакомств и о своем сопровождении в процессе вашего поиска спутника жизни.
            .how__block.how__block_small
              h3 
                svg 
                  use(href="./images/sprite.svg#hearts_bg_red")
                span Участие в клубе
              p Это годовое сопровождения и помощь на всех этапах от встречи до создания полноценных долгосрочных отношений.
              p Подробнее о клубе читайте ниже.

        section.home-what
          .what__first.home-widht1
            h2
              span.text-red Что происходит 
              span на первой консультации
            .meet
              img(src="./images/clock_calendar.webp" alt="Первая встреча")
              .meet__text
                p.strong Личная встреча онлайн или офисе Центра создания семьи ELMI
                p.text-small Длительность: ~ 60 мин
            .result 
              h3 Результат консультации:
              ul
                li Более ясное представление о своих критериях поиска партнера
                li Понимание своих сильных и слабых сторон в поиске и в дальнейших отношениях
                li Помощь, подсказки и советы в понимание вероятных ошибок, которые Вы совершаете при поиске, выборе и общении с партнером
                li Конкретный план действий и инструменты для достижения поставленных целей вместе с клубом знакомств Elmi
          .what__second 
            .what__div
              .value.home-widht1 
                h3 В чем ценность первой Консультации?
                p Происходит знакомство и доверительная беседа. Прояснение Ваших ожиданий, дополнение анкеты с учетом более детальной информации, рассмотрение потенциальных вариантов для знакомства.
                p Одним словом, с этого и начинается весь процесс нашего сотрудничества
            .picture(style="background-image: url('./images/home_what_bg.webp');")

        section.home-faq.home-widht1
          details.details.left-blue-border 
            summary.summary Чем отличается агентство ELMI?
            .details__block 
              ul 
                li Мы заносим в базу только тех, кто решил создать семью.
                li Каждую пару подбирают индивидуально, основываясь на пожеланиях обоих кандидатов для знакомства в Израиле.
                li Полная конфиденциальность – анкеты может просматривать только тот человек, которого вы одобрите для личного свидания.
                li Мы предоставляем психологическую поддержку на каждом этапе – наши клиенты чувствуют себя спокойно и уверенно.
          details.details.left-blue-border 
            summary.summary Как мы ищем для вас пару?
            .details__block 
              ul 
                li Вы заполняете анкету на сайте ELMI и предоставляете несколько фотографий.
                li Вы приходите на личную встречу в наш офис – мы должны быть уверены, что вы настроены серьезно.
                li Мы анализируем вашу анкету, просматриваем базу и предлагаем несколько лучших кандидатов для личной встречи. 
          details.details.left-blue-border 
            summary.summary С кем мы работаем?
            .details__block 
              ul 
                li Жителям Израиля помогаем наладить личную жизнь и создать семью.
                li Работаем с русскоязычными гражданами Европы и Америки.
                li Находим пару в Израиле для жителей стран СНГ, имеющих право на репатриацию.
          details.details.left-blue-border
            summary.summary Чем мы можем вам помочь?
            .details__block 
              p Чтобы знакомства в Израиле через наше брачное агентство проходили успешно и приносили желаемый результат, консультанты ELMI помогают каждому клиенту: 
              ul 
                li Рассказать о себе. Зачастую людям тяжело говорить о себе, своих достоинствах и достижениях, объективно оценивать себя. Психолог поможет раскрыться и описать себя с лучшей стороны. 
                li Сформулировать свои пожелания. Как показывает практика, многие люди акцентируют внимание не на тех качествах партнера, которые для них действительно важны. В ходе беседы мы поможем определиться с приоритетами, чтобы вы получили то, чего действительно хотите.
                li Проанализировать заявку и найти анкеты, которые будут ей соответствовать.
                li Подготовиться к первой встрече. Если вы сомневаетесь или чувствуете себя неуверенно, сваха поможет организовать знакомство в Израиле так, чтобы вам было спокойно и комфортно. Также мы рекомендуем не отказываться от претендента после одной встречи, ведь первое впечатление бывает обманчивым.
              p А также окажем психологическую поддержку. Многие кандидаты очень тяжело переживают процесс поиска партнера, выбора анкеты, отказы… Мы поможем преодолеть все трудности, чтобы вы наконец-то обрели свое личное счастье.

        section.home-step
          .step__wrapper.home-widht1
            div.step__first
              h2 Сделать первый шаг
              p Начните свой путь к счастью уже сегодня. Давайте вместе с ELMI создадим вашу историю любви!
              button.btn-main Зарегистрируйся
            div.step__second 
              img(src="./images/heart_lock.webp")

        section.home-trust.home-widht2
          h2
            span.text-red Почему 
            span нам стоит доверять?
          ul.trust__facts
            li 
              svg 
                use(href="./images/sprite.svg#user")
              span.trust__number 12537 
              span.trust__span Анкет
            li 
              svg 
                use(href="./images/sprite.svg#heart")
              span.trust__number 27226
              span.trust__span Свиданий
            li 
              svg 
                use(href="./images/sprite.svg#users")
              span.trust__number 548
              span.trust__span Пары встретили друг друга благодаря Элми
            li 
              svg 
                use(href="./images/sprite.svg#rings")
              span.trust__number 163 
              span.trust__span Официальных брака
          .trust__reasons
            .trust__block 
              svg 
                use(href="./images/sprite.svg#user_bg_blue")
              h3 Индивидуальный подход
              p.trust__text Сотрудничество начинаем с личного знакомства, поэтому знаем в лицо каждого кандидата в нашей базе.
            .trust__block 
              svg 
                use(href="./images/sprite.svg#hand_heart_bg_blue")
              h3 Психологическая поддержка
              p.trust__text Консультации по построению отношений и психологическая помощь в процессе поиска партнера.
            .trust__block 
              svg 
                use(href="./images/sprite.svg#incognito_bg_blue")
              h3 Конфиденциальность
              p.trust__text Ваши контакты получит только тот, кого вы одобрите для встречи. На сайте нет открытых анкет.
            .trust__block 
              svg 
                use(href="./images/sprite.svg#clock_heart_bg_blue")
              h3 Работаем с 2003 года
              p.trust__text Более 19 лет опыта, обширная база кандидатов, сотрудничество с международными брачными агентствами.
            .trust__block 
              svg 
                use(href="./images/sprite.svg#hearts_bg_blue")
              h3 Тренинги «Как вести себя на свиданиях»
              p.trust__text Научим справляться с волнением и производить хорошее впечатление.
            .trust__block 
              svg 
                use(href="./images/sprite.svg#rings_bg_blue")
              h3 Только для серьезных отношений
              p.trust__text Наша цель - создать новую семью и крепкие, долгосрочные отношения.

        section.home-story
          .story__title
            h2 Истории любви
          block slider
            include components/slider

        section.home-price.home-widht2
          h2
            span.text-red Стоимость 
            span услуг
          block table
            include components/table
