extends components/layout

block content
  main.main
    .main__test
      //- h1.title2 Test page

      section.home-how.home-widht2
        h2
          span.text-red Как происходит 
          span весь процесс нашего сотрудничества?
        dl.how__dl
          dt.how__dt 01
          dd.how__dd.how__dd_open 
            h3
              svg 
                use(href="./images/sprite.svg#document_bg_red")
              span Заявка
            p Когда я получаю вашу заявку на мои услуги, я или мой менеджер связываемся с вами по контактным данным, которые вы оставили. Затем мы обсуждаем детали и отвечаем на все оставшиеся вопросы. 
            p После этого мы договариваемся о личной встрече-консультации. Вы заполняете предварительную анкету и приходите на консультацию в назначенное время
          dt.how__dt 02
          dd.how__dd 
            h3 
              svg 
                use(href="./images/sprite.svg#dialog_bg_red")
              span Консультация
            p На консультации мы знакомимся. Я узнаю подробнее, кого вы хотите встретить и какие у вас предпочтения. Если мы готовы продолжать сотрудничество, я вношу вас в свою базу данных. 
            p Я также рассказываю вам о перспективах участия в клубе знакомств и о своем сопровождении в процессе вашего поиска спутника жизни.
          dt.how__dt 03
          dd.how__dd 
            h3 
              svg 
                use(href="./images/sprite.svg#hearts_bg_red")
              span Участие в клубе
            p Это годовое сопровождения и помощь на всех этапах от встречи до создания полноценных долгосрочных отношений.
            p Подробнее о клубе читайте ниже.


      //- section.section1 
      //- section.home-story
        //- .story__title
          //- h2 Истории любви
        //- block slider
          include components/slider
      //- section.home-price.home-widht2
      //-   block table
      //-     include components/table
        
    //- div.test-btn
      //- button.btn-main Записаться на консультацию
      //- button.btn-main(disabled) Записаться на консультацию
      //- button.btn-secondary Оставить заявку
      //- button.btn-secondary(disabled) Оставить заявку
      //- button.btn-text Подробнее
      //-   svg.sprite
      //-     use(href="./images/sprite.svg#right")
      //- button.btn-text.btn-text_arrow(disabled) Подробнее
      //-   svg.sprite
      //-     use(href="./images/sprite.svg#right")
      //- button.btn-text Подробнее
      //- button.btn-text(disabled) Подробнее

      //- .lang
      //-   button.lang__btn_small
      //-     svg.sprite
      //-       use(href="./images/sprite.svg#earth")
      //- .lang
      //-   button.lang__btn_large
      //-     svg.sprite
      //-       use(href="./images/sprite.svg#earth")
      //-     span Русский
      //-     svg.sprite
      //-       use(href="./images/sprite.svg#down")
      //- .lang
      //-   button.lang__btn_small(disabled)
      //-     svg.sprite
      //-       use(href="./images/sprite.svg#earth")
      //- .lang
      //-   button.lang__btn_large(disabled)
      //-     svg.sprite
      //-       use(href="./images/sprite.svg#earth")
      //-     span Русский
      //-     svg.sprite
      //-       use(href="./images/sprite.svg#down")

      //- input.input(id="name" placeholder='Имя*')
      //- input.input(disabled)

      //- label.label Title text here
      //-   input.input(id="name" placeholder='Имя*')
      //- label.label Title text here
      //-   input.input(disabled)
