.slider__wrapper 
  .slider 
    .slider__item
      .slider__img-block
        img(data-lazy="./images/slider/slider1.webp")
      .slider__text
        a(htef="#")
          h3 Григорий и Галина
        p Одна из самых первых пар, которые познакомились на сайте знакомств Elmi. Проживают в Хайфе и уже отпраздновали 15 лет счастливой совместной жизни!.
        button.btn-text Подробнее
          svg.sprite
            use(href="./images/sprite.svg#right")
    .slider__item
      .slider__img-block
        img(data-lazy="./images/slider/slider2.webp")
      .slider__text
        a(htef="#")
          h3 Диана и Яков
        p Диана и Яков познакомились в сентябре 2015 года, и с тех пор больше никогда не расставались. И почти через год после первой встречи, в торжественной обстановке в очень красивом месте с удивительным видом они стали мужем и женой. Символично, что первая встреча у этой пары состоялась в сотне метров от места, где они стояли под хупой. Совет да любовь!
        button.btn-text Подробнее
          svg.sprite
            use(href="./images/sprite.svg#right")
    .slider__item
      .slider__img-block
        img(data-lazy="./images/slider/slider3.webp")
      .slider__text
        a(htef="#")
          h3 Юлия и Дан
        p Горжусь и любуюсь этой парой. Отношения у них развивались стремительно. Дан и Юлия познакомились в начале лета. А уже в конце августа Дан сделал Юлии предложение руки и сердца. И получил положительный ответ! В декабре состоялась регистрация брака в Праге. Совет да любовь!
        button.btn-text Подробнее
          svg.sprite
            use(href="./images/sprite.svg#right")
    .slider__item
      .slider__img-block
        img(data-lazy="./images/slider/slider4.webp")
      .slider__text
        a(htef="#")
          h3 Зоя и Аарон
        p Очень гармоничная пара! Зоя и Аарон вместе уже больше 2-х лет. А недавно они закрепили свои отношения, зарегистрировав брак на Кипре. Желаю всем такого же уважительного, чуткого и внимательного отношения друг к другу.
        button.btn-text Подробнее
          svg.sprite
            use(href="./images/sprite.svg#right")
    .slider__item
      .slider__img-block
        img(data-lazy="./images/slider/slider5.webp")
      .slider__text
        a(htef="#")
          h3 Вера и Виталий
        p К счастью, эта пара сложилась, и у них уже родился чудесный ребенок, а могло помешать… расстояние. Это звучит парадоксально, но в нашем маленьком Израиле, расстояние – существенный фактор. На момент знакомства Вера жила на Севере, а Виталий – на Юге. И девушка категорически отказывалась знакомиться с молодым человеком, который живет так далеко. Пришлось приложить небольшие усилия и убедить Веру встретиться с Виталием. А вдруг, это судьба? На самом деле, после первой встречи, они больше не расставались. Это пример женской гибкости и открытости, мужской уверенности и настойчивости. Пусть радостные улыбки всегда будут на этих лицах!
        button.btn-text Подробнее
          svg.sprite
            use(href="./images/sprite.svg#right")
    .slider__item
      .slider__img-block
        img(data-lazy="./images/slider/slider6.webp")
      .slider__text
        a(htef="#")
          h3 Яна и Андрей
        p Необычную историю знакомства этой пары услышали все гости на их свадьбе. Ее рассказал раввин, оказав мне, как свахе, честь и уважение. Яна и Андрей обратились в службу знакомств “Elmi” и никак не могли найти то, что называется второй половинкой. Однажды я пригласила Яну на танцевальный вечер знакомств, пообещав, что туда должен прийти молодой человек, с которым ей будет интересно познакомиться. Яна пообещала прийти. Андрею я тоже заранее сообщила, что на вечере будет девушка, на которую, я рекомендую обратить внимание. Казалось бы, все должно было сложиться по заранее задуманному сценарию, но… Яна пришла на вечер со значительным опозданием. И, когда я подвела ее к столику, за которым сидел Андрей, чтобы представить их друг другу, возникла неловкая ситуация. Рядом с Андреем сидела девушка, которая всем своим видом давала понять, что «это ее парень». Только в конце вечеринки Андрею удалось пригласить Яну на танец. Но соперница немедленно сообщила Яне, что у той нет шансов. У Яны хватило чувства юмора с улыбкой принять ситуацию. А мне захотелось ее приободрить и я уверенным голосом сказала, что с Андреем давно знакома и почти уверена, что утром он мне позвонит и попросит сообщить ее номер телефона. И на этот раз, интуиция меня не подвела! Андрей действительно позвонил мне утром, я сообщила ему телефон Яны. И с этого дня они уже были вместе. Через полгода Яна и Андрей сыграли свадьбу, у них родилась дочка. Свою историю знакомства, я думаю, они расскажут своей дочурке, когда она подрастет.
        button.btn-text Подробнее
          svg.sprite
            use(href="./images/sprite.svg#right")
    .slider__item
      .slider__img-block
        img(data-lazy="./images/slider/slider7.webp")
      .slider__text
        a(htef="#")
          h3 Елена и Лев
        p Лев обратился в службу знакомств “Elmi” в очень юном возрасте – в 24 года. Я заранее предупредила, что в моем каталоге очень мало девушек — его ровесниц … Но молодой человек был настроен решительно. Лена оказалась первой девушкой, с которой я ему предложила познакомиться. Молодые люди понравились друг другу, начали встречаться. И ровно через год, буквально, день в день после первой встречи, я уже была приглашена на свадьбу. У молодой пары растет сын.
        button.btn-text Подробнее
          svg.sprite
            use(href="./images/sprite.svg#right")
    .slider__item
      .slider__img-block
        img(data-lazy="./images/slider/slider8.webp")
      .slider__text
        a(htef="#")
          h3 Юля и Андрей
        p Андрей приехал в Израиль еще школьником, поэтому когда он обратился в службу знакомств “Elmi”, даже не мог предположить, что та, которую он ищет, живет вовсе не в Израиле.
        button.btn-text Подробнее
          svg.sprite
            use(href="./images/sprite.svg#right")
    .slider__item
      .slider__img-block
        img(data-lazy="./images/slider/slider9.webp")
      .slider__text
        a(htef="#")
          h3 Хава и Игорь
        p Какая красивая пара! Игорь часто приезжал с приятелями на танцевальные вечера. Но, к сожалению, каждый раз уходил один, ни разу так и не встретив девушку, с которой ему бы захотелось познакомиться. После очередной такой неудачи, я предложила Игорю заглянуть ко мне в офис и познакомиться с каталогом службы знакомств “Elmi”. Возможно, там найдется девушка, которая его заинтересует. Милых и симпатичных девушек было не мало, но свой взор он остановил на Хаве. И не удивительно — такая красавица не могла остаться без внимания. В дальнейшем, события развивались очень быстро. Через неделю после знакомства Хава пригласила Игоря отпраздновать Рош Хашана в ее семье. И вскоре Игорь подарил будущей невесте кольцо. Состоялась помолвка. А уже через полгода – свадьба. У этой пары родилась очаровательная дочь. От всего сердца я желаю счастья, здоровья и процветания молодой семье.
        button.btn-text Подробнее
          svg.sprite
            use(href="./images/sprite.svg#right")
    .slider__item
      .slider__img-block
        img(data-lazy="./images/slider/slider10.webp")
      .slider__text
        a(htef="#")
          h3 Александрина и Александр
        p Как гармонична эта пара! Это проявляется даже в звучании имени невесты и жениха. Умные, красивые, талантливые, позитивные. Этот союз проверен временем. Счастья вам, мои дорогие!
        button.btn-text Подробнее
          svg.sprite
            use(href="./images/sprite.svg#right")
  .slider__bottom
