.table
  .table__cell.table__header Этап сотрудни&shy;чества
  .table__cell.table__header Пакет без фото
  .table__cell.table__header Пакет с фото
  .table__cell.table__header Пакет с фото<br> + 5 встреч с психологом
  //- row
  .table__cell 
    p Первичная консультация
    span Знакомство со свахой, выяснение трудностей в отношениях
  .table__cell 
    p 200 шек
  .table__cell 
    p 200 шек
  .table__cell 
    p 200 шек
  //- row
  .table__cell 
    p Регистрация и заключение договора
    span Договор заключается на 1 год со дня подписания.
  .table__cell 
    p 4000 шек
  .table__cell 
    p 4500 шек
  .table__cell 
    p 6250 шек
  //- row
  .table__cell 
    p Вторая консультация и создание профиля
    span Создание и утверждение профиля, подбор кандидатов
  .table__cell 
    svg 
      use(href="./images/sprite.svg#yes")
  .table__cell 
    svg 
      use(href="./images/sprite.svg#yes")
  .table__cell 
    svg 
      use(href="./images/sprite.svg#yes")
  //- row
  .table__cell 
    p Профессио&shy;наль&shy;ная фотосессия (500 шек)
    span Возврат денег при предоставлении собственных фото.
  .table__cell 
    svg 
      use(href="./images/sprite.svg#no")
  .table__cell 
    svg 
      use(href="./images/sprite.svg#yes")
  .table__cell 
    svg 
      use(href="./images/sprite.svg#yes")
  //- row
  .table__cell 
    p Процесс знакомства
    span Предоставляются встречи с подходящими кандидатами
  .table__cell 
    svg 
      use(href="./images/sprite.svg#yes")
  .table__cell 
    svg 
      use(href="./images/sprite.svg#yes")
  .table__cell 
    svg 
      use(href="./images/sprite.svg#yes")
  //- row
  .table__cell 
    p Сопровожде&shy;ние перед первым свиданием
    span Помощь в согласовании деталей, предложение конкретных советов и рекомендаций
  .table__cell 
    svg 
      use(href="./images/sprite.svg#yes")
  .table__cell 
    svg 
      use(href="./images/sprite.svg#yes")
  .table__cell 
    svg 
      use(href="./images/sprite.svg#yes")
  //- row
  .table__cell 
    p Обратная связь после свидания 
    span По телефону или в форме он-лайн консультации.
    span Разбор ситуации, советы для развития отношений. Подбор нового кандидата, если отношения закончились или не начались
  .table__cell 
    svg 
      use(href="./images/sprite.svg#yes")
  .table__cell 
    svg 
      use(href="./images/sprite.svg#yes")
  .table__cell 
    svg 
      use(href="./images/sprite.svg#yes")
  //- row
  .table__cell 
    p Дополнитель&shy;ные 5 консультаций
    span Сопровождение от профессиональ&shy;ного психолога по отношениям. Снимает барьеры, обиды, преграды, которые на внутреннем уровне мешают построить отношения
  .table__cell 
    svg 
      use(href="./images/sprite.svg#no")
  .table__cell 
    svg 
      use(href="./images/sprite.svg#no")
  .table__cell 
    svg 
      use(href="./images/sprite.svg#yes")
  //- row
  .table__cell 
    p Скидки на мероприятия Клуба Центра создания семьи
  .table__cell 
    p Скидка 20%
  .table__cell 
    p Скидка 20%
  .table__cell 
    p Скидка 20%
  //- row
  .table__cell 
    p Возврат  денег при оставлении аудио или видео отзыва
    span Такой отзыв можно оставить спустя 6 месяцев сопровождения при условии, что начались успешные отношения.
  .table__cell 
    span Аудио (200 шек) или видео (300 шек) отзыв.
  .table__cell 
    span Аудио (200 шек) или видео (300 шек) отзыв.
  .table__cell 
    span Аудио (200 шек) или видео (300 шек) отзыв.
  //- row
  .table__cell 
    p Продление Договора
    span Если в течение первого года Вы не достигли желаемого успеха, то есть возможность продления договора.
  .table__cell 
    p 1000 шек
  .table__cell 
    p 1000 шек
  .table__cell 
    p 2750 шек
  //- row
  .table__cell 
  .table__cell 
    button.btn-main Оставить заявку
  .table__cell 
    button.btn-main Оставить заявку
  .table__cell 
    button.btn-main Оставить заявку


//- table.table 
//-   thead 
//-     tr 
//-       th Этап сотрудничества
//-       th Пакет услуг 
//-         p «Silver»
//-       th Пакет услуг 
//-         p «Gold»
//-       th Пакет услуг 
//-         p «Diamond»
//-   tbody 
//-     tr 
//-       td Первичная консультация
//-         p Знакомство со свахой, выяснение трудностей в отношениях
//-       td 200 ₪
//-       td 200 шек
//-       td 200 шек
//-     tr 
//-       td Регистрация и заключение договора
//-         p Договор заключается на 1 год со дня подписания.
//-       td 3000 шек
//-       td 3500 шек
//-       td 5200 шек
//-     tr 
//-       td Вторая встреча и создание профиля
//-         p Создание и утверждение профиля, подбор кандидатов
//-       td 
//-         p
//-           svg 
//-             use(href="./images/sprite.svg#yes")
//-       td 
//-         p
//-           svg 
//-             use(href="./images/sprite.svg#yes")
//-       td 
//-         p
//-           svg 
//-             use(href="./images/sprite.svg#yes")
//-     tr 
//-       td Профессиональная фотосессия (500 шек)
//-         p Возврат денег при предоставлении собственных фото.
//-       td 
//-         p
//-           svg 
//-             use(href="./images/sprite.svg#no")
//-       td 
//-         p
//-           svg 
//-             use(href="./images/sprite.svg#yes")
//-       td 
//-         p
//-           svg 
//-             use(href="./images/sprite.svg#yes")
//-     tr 
//-       td Процесс знакомства
//-         p Предоставляются встречи с подходящими кандидатами
//-       td 
//-         p
//-           svg 
//-             use(href="./images/sprite.svg#yes")
//-       td 
//-         p
//-           svg 
//-             use(href="./images/sprite.svg#yes")
//-       td 
//-         p
//-           svg 
//-             use(href="./images/sprite.svg#yes")
//-     tr 
//-       td Сопровождение первого свидания
//-         p Помощь в согласовании деталей, предоставление советов
//-       td 
//-         p
//-           svg 
//-             use(href="./images/sprite.svg#yes")
//-       td 
//-         p
//-           svg 
//-             use(href="./images/sprite.svg#yes")
//-       td 
//-         p
//-           svg 
//-             use(href="./images/sprite.svg#yes")
//-     tr 
//-       td После свидания
//-         p Ожидание обратной связи, предоставление советов для развития отношений.
//-         p В телефонном режиме или в форме он-лайн консультации.
//-       td 
//-         p
//-           svg 
//-             use(href="./images/sprite.svg#yes")
//-       td 
//-         p
//-           svg 
//-             use(href="./images/sprite.svg#yes")
//-       td 
//-         p
//-           svg 
//-             use(href="./images/sprite.svg#yes")
//-     tr 
//-       td Сопровождение от психолога по отношениям (5 консультаций)
//-         p Снимает барьеры, обиды, преграды, которые на внутреннем уровне мешают построить отношения
//-       td 
//-         p
//-           svg 
//-             use(href="./images/sprite.svg#no")
//-       td 
//-         p
//-           svg 
//-             use(href="./images/sprite.svg#no")
//-       td 
//-         p
//-           svg 
//-             use(href="./images/sprite.svg#yes")
//-     tr 
//-       td Дополнительные условия
//-         p Подбор нового кандидата , если отношения закончились или не начались, по вышеописанной схеме.
//-         p Скидки на мероприятия, проводимые Свахой Еленой Минаковой
//-       td Скидка 20%
//-       td Скидка 20%
//-       td Скидка 20%
//-     tr 
//-       td Возврат  денег при оставлении аудио или видео отзыва
//-         p Можно оставить спустя 6 месяцев сопровождения при условии, что начались успешные отношения.
//-       td Аудио (200 шек) или видео (300 шек) отзыв.
//-       td Аудио (200 шек) или видео (300 шек) отзыв.
//-       td Аудио (200 шек) или видео (300 шек) отзыв.
//-     tr 
//-       td Продление Договора
//-         p Если Ваши отношения не случились в первый год сопровождения, то есть возможность продления договора.
//-       td 1000 шек
//-       td 1000 шек
//-       td 2750 шек
//-     tr 
//-       td 
//-       td 
//-         .btn-block
//-           button.btn-main Оставить заявку
//-       td 
//-         .btn-block
//-           button.btn-main Оставить заявку
//-       td 
//-         .btn-block
//-           button.btn-main Оставить заявку
